.cart-background {
    position: fixed;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, .5);

}

.cart {
    position: absolute;
    background-color: white;

    min-width: 500px;
    height: 100%;
    left: 100%;
    transform: translateX(-500px);
}

.disable-cart {
    opacity: 0;
    z-index: -9;
}