:root {
    --cart-width: 500px;
}

/* Cart background */

.cart-background {
    position: fixed;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, .5);

}

.cart {
    position: absolute;
    background-color: white;

    min-width: var(--cart-width);
    height: 100%;
}

@keyframes disable {
    from{opacity: 1;}
    to{
        opacity: 0;
        transform: translateX( var(--cart-width) );
        
    }
}

@keyframes enable {
    from{opacity: 0;}
    to{
        opacity: 1;
        transform: translateX( calc( var(--cart-width) * -1 ) );
        
    }
}

@keyframes opacity-off {
    from{opacity: 1;}
    to{opacity: 0;}
}

@keyframes z-index-down {
    0%{z-index: 0;}
    99%{z-index: 0;}
    100%{z-index: -9;}
}

.initial-class {
    opacity: 0;
    left: 100%;
}

.disable-cart {
    opacity: 0;
    /*z-index: -9;*/
    animation: opacity-off .5s forwards, z-index-down .5s forwards;
}

.cart {
    z-index: 9;
    overflow: scroll;
}

.cart-background {
    z-index: 0;
}

.enable-cart {
    opacity: 1;
}

.cart-enable-animation {
    left: 100%;
    animation: enable .5s linear forwards;    
}

.cart-disable-animation {
    left: calc(100% - var(--cart-width));
    animation: disable .5s linear forwards;
}

/* Cart */
.cart {
    background-color: aliceblue;
    padding: 36px;
}

/* Close button */
.cart-holder > div:first-child {
    display: flex;
    justify-content: flex-end;
    padding-right: 72px;
}

.cart-holder > div:first-child button {
    font-size: 36px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
}

/* Header */
.cart-holder > div:nth-child(2) {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-right: 64px;
    padding-top: 12px;
}

/* Cart items */
.cart-items {
    margin-top: 24px;
    max-width: 300px;
}

.cart-item {
    display: grid;
    grid-template-columns: 200px 100px 50px;
    padding-bottom: 6px;
    padding-bottom: 12px;
}

/* Cart item image */
.cart-item > img {
    width: 130px;
    height: 130px;
}

/* Cart item info */
.cart-item > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.cart-item-info > div:first-child {
    font-weight: bold;
    font-size: 20px;
}

.cart-item-info > div:nth-child(2) {
    font-size: 18px;
}

/* Cart quantity */
.cart-quantity {
    display: flex;
    font-size: 24px;
}

.cart-quantity input {
    width: 30px;
    text-align: center;
    font-size: 24px;
}

.cart-quantity > div:first-child {
    padding-right: 6px;
    cursor: pointer;
}

.cart-quantity > div:nth-child(3) {
    padding-left: 6px;
    cursor: pointer;
}