.homepage {
    margin: 100px;

    display: flex;
    justify-content: center;
}

.homepage-holder {
    display: flex;
    justify-content: center;
    gap: 30px;

    flex-wrap: wrap;
    max-width: 1200px;
}

.homepage-holder > div:first-child {
    width: 50%;
}

.homepage-holder > div:first-child > div:first-child {
    font-size: 75px;
    font-weight: bold;
}

.homepage-holder > div:first-child > div:nth-child(2n) {
    font-size: 36px;
    padding-left: 10px;
    padding-top: 12px;
}

.oreo {
    max-width: 400px;
    height: 500px;
}