.shop {
    width: 100%;
    min-height: 200px;

    display: flex;
    justify-content: center;
}

.shop-holder {
    background-color: aliceblue;
    margin-top: 75px;
    margin-bottom: 50px;
    width: 75%;
    min-height: 200px;
    min-width: 100px;

    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, 250px);
    grid-auto-flow: row;
    gap: 15px;
    justify-content: center;
}

.shop-item {
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shop-item a {
    min-width: 80%;
    height: 80%;
}

.shop-item img {
    height: 100%;
    min-width: 100%;
    cursor: pointer;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}