.shop {
    width: 100%;
    min-height: 200px;

    display: flex;
    justify-content: center;
}

.shop-holder {
    background-color: aliceblue;
    margin-top: 75px;
    margin-bottom: 50px;
    width: 80%;
    min-height: 200px;

    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(auto-fit, 200px);
    gap: 15px;
}

.shop-item {
    height: 200px;

    border-width: 1px;
    border-style: dashed;
}